# model_name: "llama3.2:latest"
# provider: "ollama"
model_name: "gpt-4o-mini"
provider: "openai"
temperature: 0.2
# Configuration for the supervised evaluator template
# `template` should point to a Jinja template inside the templates/ folder.
# An optional `template_es` can be provided for a Spanish-language variant.
supervised_evaluator:
  auxiliary_metrics:
    match: 
      template: "evaluators/individual/aux_match.jinja"
    missing: 
      template: "evaluators/individual/aux_missing.jinja"
    extra: 
      template: "evaluators/individual/aux_extra.jinja"
  evaluation_metrics:
    completeness:
      function: "compute_completeness"
    correctness:
      template: "evaluators/individual/eval_correctness.jinja"
    precision: 
      function: "compute_precision"
      precision_llm_config:
        # model_name: "gpt-4o"
        model_name: "gpt-4o-mini"
        temperature: 0.2
        provider: "openai"
    restraint: 
      function: "compute_restraint"
    content_similarity: 
      template: "evaluators/individual/eval_content_similarity.jinja"
      function: "compute_content_similarity"
