You are creating a static code analyzer template for PRESENCE requirements. This template will be used to analyze student code.

ASSIGNMENT DESCRIPTION:
{{ assignment_description }}

REQUIREMENT:
{{ requirement }}

Your task is to create a Jinja2 template that will analyze if student code meets this specific PRESENCE requirement.

... (estructura igual que el template original, pero puedes personalizarlo para PRESENCE) ...

Code to analyze:
{{ code }}
